<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('css/uikit.gradient.min.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
        <script type="text/javascript" src="{{ asset('js/uikit.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="uk-container uk-container-center">
            <h1>{{ block('title') }}</h1>
            {% block body %}Nothing to see here O.o{% endblock %}
        </div>
    </body>
</html>
